
html {
    scroll-behavior: smooth;
  }
  
  ul {
    list-style-type: none;
  }
  a {
    text-decoration: none;
  }
  img:not(.logo) {
    width: 100%;
  }
  img {
    display: block;
  }
  
  h1,
  h2,
  h3,
  h4 {
    letter-spacing: var(--spacing);
    text-transform: capitalize;
    line-height: 1.25;
    margin-bottom: 0.75rem;
    font-family: var(--ff-primary);
  }
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.25rem;
  }
  h4 {
    font-size: 0.875rem;
  }
  p {
    margin-bottom: 1.25rem;
  }
  .btn {
    text-transform: uppercase;
    background: transparent;
    color: wheat;
    padding: 0.375rem 0.75rem;
    letter-spacing: var(--spacing);
    display: inline-block;
    transition: var(--transition);
    font-size: 0.875rem;
    border: 2px solid var(--clr-black);
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
   }
  .btn:hover {
    color: var(--clr-white);
    background: wheat;
  }
  .btn-white {
    color: var(--clr-white);
    border-color: var(--clr-white);
    border-radius: 0;
    padding: 0.5rem 1rem;
    color: wheat;
  }
  .btn:hover {
    background: lightskyblue;
    color: wheat;
  }
  .section {
    padding-bottom: 5rem;  
  }
  
  .section-center {
    width: 90vw;
    margin: 0 auto;
    max-width: 1170px;
  }
  @media screen and (min-width: 992px) {
    .section-center {
      width: 95vw;
    }
  }
  main {
    min-height: 100vh;
    display: grid;
    place-items: center;
  }
  /* fixed nav */
.fixed-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
   }
   .nav-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .nav-toggle {
    font-size: 1.5rem;
    /* color: var(--clr-grey-1); */
    background: transparent;
    border-color: transparent;
    transition: var(--transition);
    cursor: pointer;
  }
  /* .nav-toggle:hover {
    color: var(--clr-secondary);
  } */
  .logo {
    height: 50px;
  }
  .links-container {
    height: 0;
    overflow: hidden;
    transition: var(--transition);
    
  }
  .show-links {
    height: 200px;
  }
  .links a {
    background: var(--clr-white);
    color: var(--clr-grey-5);
    font-size: 1.1rem;
    text-transform: capitalize;
    letter-spacing: var(--spacing);
    display: block;
    transition: var(--transition);
    font-weight: bold;
    padding: 0.75rem 0;
   
  }
  .links a:hover {
    color: var(--clr-grey-1);
  }
  @media screen and (min-width: 800px) {
    nav {
      background: transparent;
}
nav {
    background: transparent;
  }
  .nav-center {
    width: 90vw;
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .nav-header {
    padding: 0;
  }
  .nav-toggle {
    display: none;
  }
  .links-container {
    height: auto !important;
  }
  .links {
    display: flex;
  }
  .links a {
    background: transparent;
    color: white;
    font-size: 1.1rem;
    text-transform: capitalize;
    letter-spacing: var(--spacing);
    display: block;
    transition: var(--transition);
    margin: 0 1rem;
    font-weight: bold;
    padding: 0;
  }
  .links a:hover {
    color: var(--clr-white);
  }
}
